



<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    

    <title>CarDetails</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CarWash</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Home">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/">Logout</a>
        </li>
        
      </ul>

    </div>
  </div>
</nav>
  <body>
  <section>
  <div class="container p-5">
  <div class="row">
  <div class="col-md-6 offset-md-3">
  <div class="card">
  <div class="card-header text-center fs-4">CarDetails&Payment</div>
  <div class="card-body">
  
  <form id="myForm">
  
   <div class="mb-3">
  <Label>Car Number</Label><input type="text"
  name="CarNumber" class="form-control" required>
  </div>
   <div class="mb-3">
  <Label>Car Brand</Label><input type="text"
 id="CarBrand"  name="CarBrand" class="form-control" required>
  </div>
  <div class="mb-3">
  <Label>Car Name</Label><input type="text"
  name="CarName" class="form-control" required>
  </div>
  
  <div class="mb-3">
  <Label>Upload Car Image</Label>
  
  <input type="file" id="myFile" name="filename" required>
  

</div>
  
  
   <button type="submit"  onclick="showAlert()" class="btn btn-primary col-md-12">
   Submit 
   </button>
  <a href="/Carwash">Back</a>
  </form>
  <script type="text/javascript">
   function  showAlert(){
	   var form = document.getElementById("myForm");
	   if (form.checkValidity()) {
	     alert("Your Car wash is Booked");
	     window.open("/home");
	   } else {
	     alert("plese fill all fields");
	   }
	  
	  
     }
  
  </script>
  
  </div>
  
  </div>
  
  </div>
  
  
  </div>
  
  </div>
  
  
  </section>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>
